@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-neutral-950 text-gray-100;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
}
