.fade-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 5;
}

.fade-mask.left {
    left: 0;
}

.fade-mask.right {
    right: 0;
}

.fade-mask.top {
    top: 0;
    left: 0;
    right: 0;
}

.fade-mask.bottom {
    bottom: 0;
    left: 0;
    right: 0;
}
