:root {
    --marquee-distance: 0;
}

@keyframes marquee-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes marquee-bounce {
    0% {
        transform: translateX(1%);
    }

    50% {
        transform: translateX(var(--marquee-distance));
    }

    100% {
        transform: translateX(1%);
    }
}

.animate-marquee-left {
    animation: marquee-left linear infinite;
}

.animate-marquee-right {
    animation: marquee-right linear infinite;
}

.animate-marquee-bounce {
    animation: marquee-bounce ease-in-out infinite;
}

.marquee-reset {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.marquee-pause:hover {
    animation-play-state: paused;
}
