@import '@radix-ui/themes/styles.css';
@import 'radix-themes-tw';
@import './marquee.css';
@import './fade.css';
@import './radix-themes.css';
@import './scrollbar.css';
@tailwind utilities;

:root {
    overflow: hidden;
}

body {
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.app-routes {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}

.app-routes > * {
    flex: 1 1 auto;
    min-height: 0;
}
