@import '@radix-ui/themes/styles.css';
@import 'radix-themes-tw';
@import './marquee.css';
@import './fade.css';
@import './radix-themes.css';
@tailwind utilities;

:root {
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}
