.radix-themes {
    height: 100%;
    min-height: 0 !important;
}

.rt-IconButton:where(.rt-variant-ghost) {
    margin: 0;
    padding: 0;
    height: var(--base-button-height);
    width: var(--base-button-height);
}

.rt-Button.rt-variant-ghost {
    margin: 0;
    padding: var(--button-ghost-padding-y) var(--button-ghost-padding-x);
}

.rt-AvatarRoot.rt-IconButton {
    height: var(--avatar-size);
    width: var(--avatar-size);
}

.rt-Button:not(:disabled),
.rt-IconButton:not(:disabled) {
    cursor: pointer;
}

.rt-AvatarRoot {
    position: relative;
    user-select: none;
}

.rt-AvatarOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    z-index: 1;
}

.rt-AvatarImage,
.rt-AvatarFallback {
    user-select: none;
    -webkit-user-drag: none;
}
